<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{data.title}}</title>
</head>
<body>
<div class="card text-center">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h5 class="card-title fs-1" style="font-size: 2rem;">{{data.app_name}}</h5>
    <p class="card-text fs-4 fw-bold">{{data.body}}</p>
      <p>If you did not request this ignore and dont send to anyone</p>
  </div>
  <div class="card-footer text-body-secondary">
    Regards Share It,<br>
      Management
  </div>
</div>
</body>
</html>