{%extends 'base.html'%}
{%block content%}
<section id="login" class="vh-100" style="background-image: background-attachment: fixed; background-repeat: no-repeat; background-size: cover;">
            <div class="container-fluid position-relative w-50 p-5  bg-transparent" >
                <div class="card text-center">
                <div class="card-header text-uppercase fw-bold">
                     Enter Sent Code
                </div>
                <div class="card-body bg-transparent">
                    <form method="POST">
                    <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping"><i class='bx bx-reset'></i></span>
                    <input type="text" name="reset" class="form-control" placeholder="" aria-label="code" aria-describedby="addon-wrapping">
                    </div>
                    <br>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary">Reset</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
</section>
{%endblock content%}
