{%extends 'base.html'%}
{%block content%}
<section id="login" class="vh-100" style="background-image: background-attachment: fixed; background-repeat: no-repeat; background-size: cover;">
            <div class="container-fluid position-relative w-50 p-5  bg-transparent" >
                <div class="card text-center">
                <div class="card-header text-uppercase fw-bold">
                    Set New Password
                </div>
                <div class="card-body bg-transparent">
                    <form method="POST">
                    <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="aadon-wrapping"><i class='bx bxs-lock-alt' ></i></span>
                    <input type="password" name="password" class="form-control" placeholder="Password" aria-label="password" aria-describedby="addon-wrapping">
                    </div>
                    <br>
                    <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="aadon-wrapping"><i class='bx bxs-lock-alt' ></i></span>
                    <input type="password" name="conf_password" class="form-control" placeholder="Password" aria-label="password" aria-describedby="addon-wrapping">
                    </div>
                    <br>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                    </form>
                    <div class="p-1">
                        <p> Dont have an account? <a href="{{url_for('register')}}">Register</a> </p>
                    </div>
                </div>
            </div>
        </div>
</section>
{%endblock content%}
